<div class="container">
    <div class="row">
      <div class="col s12">
          <div class="card" style="margin: 36px; padding: 18px;">
                <form action="/study" method="POST">
                    <div class="input-field">
                        <input name="question" id="question" type="text" class="validate">
                        <label class="active" for="question">Type Question</label>
                    </div>
                    <div class="input-field">
                        <button class="btn waves-effect waves-light" type="submit" name="action">
                            Search
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </form>
            </div>
      </div>
    </div>
</div>